tr:nth-child(even) {
  background-color: #f2f2f2;
}
td.recovered, td.confirmed, td.deaths, td.active {
  box-shadow: 1px 2px 4px rgba(0,0,0,.5);
}
td.recovered {
  color: white;
  background-color: rgb(4, 227, 4);
}
tr:nth-child(even) > td.recovered {
  background-color: lime;
}
td.confirmed {
  color: white;
  background-color: rgb(41, 180, 227);
}
tr:nth-child(even) > td.confirmed {
  background-color: rgb(44, 194, 244);
}
td.deaths {
  color: white;
  background-color: rgb(216, 7, 7);
}
tr:nth-child(even) > td.deaths {
  background-color:red;
}
td.active {
  color: white;
  background-color: rgb(111, 5, 111);
}
tr:nth-child(even) > td.active {
  background-color: purple;
}